<!DOCTYPE html>
<html lang="en">

{% include "partials/header.njk" %} 

<body>
  <div id="intro2-container" class="container">
    <div class="content">
      <img src="/images/image2.png" alt="Image" class="image">
      <div class="text">
        <h1>You Control Your Bid Or Offer Rate</h1>
        <p>Join The Marketplace, Connect With Ordinary People And Swap Your Currency Hassle-Free</p>
      </div>
      <a href="/signup" class="button">Next</a>
    </div>
  </div>
</body>

{% include "partials/footer.njk" %}
</html>
