<!DOCTYPE html>
<html lang="en">

{% include "partials/header.njk" %}

<body>
    <div class="container">
        <h1>Message</h1>

        {% if data === false %}
            {% if endpoint == 'signupFail' %}
                <p style="color: red;">{{ message }}</p>
                <a href="/signup" class="button">Back to Signup</a>
            {% else %}
                <p style="color: red;">{{ message }}</p>
            {% endif %}
        {% else %}
            <p>{{ message }}</p>
        {% endif %}

    </div>

    {% include "partials/footer.njk" %}
</body>
</html>
