<!DOCTYPE html>
<html lang="en">

{% include "partials/header.njk" %}

<body>
    <div class="container">
        <h1>Message</h1>

        {% if data === false %}        
            <p style="color: red;">{{ message }}</p>
        {% else %}
            <p>{{ message }}</p>
        {% endif %}
        
    </div>

    {% include "partials/footer.njk" %}
</body>
</html>
