@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #36ffc3;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #ff5a36;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #036464;
}

footer {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #36ffc3;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #ff5a36;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #036464;
}

footer {
  text-align: center;
}

body, html, form, input, button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #3D4C5D;
  color: #fff;
  padding: 50px;
  text-align: center;
  position: relative;
}
.container .back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}
.container .back-button .icon-button {
  background-color: #00C58E;
  border: none;
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 20px;
}
.container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.container p {
  margin-bottom: 30px;
}
.container .input-group {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.container .input-group input {
  flex: 1;
  border: none;
  padding: 12px 15px;
  font-size: 16px;
}
.container .input-group .icon-button {
  background-color: #00C58E;
  border: none;
  color: #fff;
  padding: 12px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  width: 20px;
}
.container .send-button {
  width: 100%;
  background-color: #00C58E;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.container .send-button:hover {
  background-color: #036464;
}

body, html, form, input, button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #3D4C5D;
  color: #fff;
  padding: 50px;
  text-align: center;
  position: relative;
}
.container .back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}
.container .back-button .icon-button {
  background-color: #00C58E;
  border: none;
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.container p {
  margin-bottom: 30px;
}
.container .input-group {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.container .input-group input {
  flex: 1;
  border: none;
  padding: 12px 15px;
  font-size: 16px;
}
.container .input-group .icon-button {
  background-color: #00C58E;
  border: none;
  color: #fff;
  padding: 12px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.container .send-button {
  width: 100%;
  background-color: #00C58E;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #36ffc3;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #ff5a36;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #036464;
}

footer {
  text-align: center;
}

#intro {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  position: relative; /* Position for the navigation buttons */
  margin: auto;
  /* Add CSS styles for the dots container */
  /* Add CSS styles for the dots */
  /* Add CSS styles for the active dot */
}
#intro #intro-image {
  transition: opacity 1s ease; /* Adjust the transition duration as needed */
  margin: 20px auto;
}
#intro .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ensure content is left-aligned */
}
#intro .dots-container {
  display: flex;
  justify-content: flex-start; /* Align dots to the left */
  align-items: center;
  margin-top: 20px;
  width: 100%; /* Ensure the container takes the full width */
}
#intro .dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#intro .dot.active {
  background-color: #05b497;
}
#intro .navigation-buttons {
  display: flex;
  justify-content: space-between; /* Distribute buttons evenly */
  align-items: center; /* Align buttons vertically */
  width: 100%;
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  left: 10px; /* Align Back button to bottom left */
}
#intro .navigation-buttons .back-button,
#intro .navigation-buttons .skip-button {
  color: #aaa;
  font-size: 1rem;
  text-decoration: none;
  margin-right: 20px;
}
#intro .navigation-buttons .back-button:hover,
#intro .navigation-buttons .skip-button:hover {
  color: #fff;
}
#intro .navigation-buttons .next-button-arrow {
  background-color: #05b497;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  transition: background-color 0.3s;
  position: relative;
}
#intro .navigation-buttons .next-button-arrow:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #05b497;
  animation: pulse 2s infinite;
}
#intro .navigation-buttons .next-button-arrow:hover {
  background-color: #036464;
}
#intro .navigation-buttons .next-button-arrow i {
  margin: 0;
  content: "⟶"; /* Unicode for right-pointing arrow */
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  #app {
    max-width: 300px;
  }
  #app .text h1 {
    font-size: 1.2rem;
  }
  #app .text p {
    font-size: 0.9rem;
  }
  #app .navigation-buttons .back-button,
  #app .navigation-buttons .skip-button {
    font-size: 0.9rem;
    margin-right: 15px;
  }
  #app .navigation-buttons .next-button-arrow {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
  #app .navigation-buttons .next-button-arrow:before {
    width: 50px;
    height: 50px;
    top: -5px;
    left: -5px;
  }
}
@media (max-width: 480px) {
  #app {
    max-width: 250px;
  }
  #app .text h1 {
    font-size: 1rem;
  }
  #app .text p {
    font-size: 0.8rem;
  }
  #app .navigation-buttons .back-button,
  #app .navigation-buttons .skip-button {
    font-size: 0.8rem;
    margin-right: 10px;
  }
  #app .navigation-buttons .next-button-arrow {
    width: 35px;
    height: 35px;
    font-size: 1rem;
  }
  #app .navigation-buttons .next-button-arrow:before {
    width: 45px;
    height: 45px;
    top: -5px;
    left: -5px;
  }
}
body, html, form, input, button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#registrationFormStep1 header .logo {
  max-width: 150px;
  margin: 20px auto;
}
#registrationFormStep1 .form-group {
  margin-bottom: 15px;
  text-align: start;
}
#registrationFormStep1 .form-group input,
#registrationFormStep1 .form-group select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  text-align: justify;
}

.container #registrationFormStep1 .input-group .icon-button {
  background-color: #00C58E;
  border: none;
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 0 5px 5px 0;
  width: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #36ffc3;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #ff5a36;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #036464;
}

footer {
  text-align: center;
}

#register2-container header .logo {
  max-width: 150px;
  margin: 20px auto;
}
#register2-container main h1 {
  margin-bottom: 20px;
}
#register2-container main .input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
#register2-container main .input-group input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}
#register2-container main .input-group .icon-button {
  background: none;
  border: none;
  cursor: pointer;
}
#register2-container main .input-group .icon-button i {
  font-size: 20px;
  color: #fff;
}
#register2-container main .checkbox-group {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
#register2-container main .checkbox-group input {
  margin-right: 10px;
}
#register2-container main .checkbox-group label a {
  color: #0cb19b;
}
#register2-container main .next-button {
  padding: 10px 20px;
  background-color: #05b497;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}
#register2-container main .next-button:hover {
  background-color: #036464;
}

.upload-section {
  margin-top: 40px;
  text-align: center;
}
.upload-section p {
  margin-bottom: 10px;
}
.upload-section .upload-box {
  padding: 20px;
  background-color: rgba(92, 178, 221, 0.3176470588);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  border: 2px dashed #05b497;
  transition: border-color 0.3s;
  width: 275px;
  height: 100px;
  margin: auto;
}
.upload-section .upload-box input[type=file] {
  display: none;
}
.upload-section .upload-box label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.upload-section .upload-box label i {
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
}
.upload-section .upload-box label p {
  margin: 0;
  color: #fff;
}
.upload-section .upload-box:hover i {
  color: #05b497;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #02485a;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
}
.modal-content h2 {
  margin-top: 0;
}
.modal-content p {
  text-align: left;
  margin-bottom: 20px;
}
.modal-content .agree-button {
  padding: 10px 20px;
  background-color: #05b497;
  color: #fff;
  border: none;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.modal-content .agree-button:hover {
  background-color: #038d6b;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-button:hover, .close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container #registrationFormStep2 .input-group .icon-button {
  background-color: #00C58E;
  border: none;
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 0 5px 5px 0;
  width: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #36ffc3;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #ff5a36;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #036464;
}

footer {
  text-align: center;
}

body, html, form, input, button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #3D4C5D;
  color: #fff;
  padding: 50px;
  text-align: center;
}
.container .logo {
  margin-bottom: 30px;
  margin: 20px auto;
}
.container .logo img {
  max-width: 150px;
  margin: 20px auto;
}
.container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.container p {
  margin-bottom: 30px;
}
.container .input-group {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
}
.container .input-group input {
  flex: 1;
  border: none;
  padding: 12px 15px;
  font-size: 16px;
}
.container .input-group .icon-button {
  background-color: #00C58E;
  border: none;
  color: #fff;
  padding: 12px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.container .forgot-password {
  display: block;
  color: #00C58E;
  text-decoration: none;
  margin-bottom: 20px;
}
.container .login-button {
  width: 100%;
  background-color: #00C58E;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
.container .login-button:hover {
  background-color: #036464;
}
.container .or-divider {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.container .or-divider span {
  margin: 0 10px;
}
.container .or-divider:before, .container .or-divider:after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ddd;
}
.container .social-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.container .social-buttons button {
  flex: 1;
  margin: 0 10px;
  background-color: #fff;
  color: #3D4C5D;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .social-buttons button i {
  margin-right: 10px;
}
.container .social-buttons .facebook-button {
  color: #01409f;
}
.container .social-buttons .facebook-button:hover {
  color: white;
  background-color: #01409f;
}
.container .social-buttons .google-button {
  color: red;
}
.container .social-buttons .google-button:hover {
  color: white;
  background-color: red;
}
.container .sign-up-text {
  margin-top: 20px;
}
.container .sign-up-text .sign-up-link {
  color: #00C58E;
  text-decoration: none;
}
.container .sign-up-text .sign-up-link:hover {
  color: rgb(98, 201, 98);
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}
.container button {
  border: none;
}
.container .input-group .icon-button {
  background-color: #00C58E;
  border: none;
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 0 5px 5px 0;
  width: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #36ffc3;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #ff5a36;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: rgba(41, 50, 81, 0);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.text {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0cb19b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #036464;
}

footer {
  text-align: center;
}

/* Spinner CSS */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* High z-index to ensure it is in front */
  opacity: 1;
  transition: opacity 1s ease-out; /* Transition for opacity */
}

.spinner {
  border: 7px solid #f3f3f3; /* Light grey */
  border-top: 7px solid #05b497; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Fade-out class */
.fade-out {
  opacity: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: transparent;
  padding: 10px;
}
header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-container .menu-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  color: #ffffff;
}
header .header-container h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  flex-grow: 1;
  color: #ffffff;
}

.trader-card {
  background-color: rgba(8, 72, 168, 0.0666666667);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}
.trader-card .profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.trader-card .profile-container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.trader-card .profile-container h2 {
  margin: 0;
  font-size: 20px;
  flex-grow: 1;
  margin-top: 40px;
  margin-bottom: 0px;
}
.trader-card .profile-container .rating {
  color: #FFC107;
  margin-left: 10px;
  margin-top: 1px;
}
.trader-card .profile-container .edit-profile-icon {
  font-size: 20px;
  cursor: pointer;
  margin-left: 190px;
}
.trader-card .trader-info p {
  margin: 5px 0;
  text-align: left;
}
.trader-card .trader-info p i {
  color: #00c5b6;
  margin-right: 5px;
}

.navigation-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 17px;
  padding: 5px;
}
.navigation-container button {
  background-color: #ffffff;
  color: #262222;
  border: none;
  padding: 13px 20px; /* Adjusted padding for consistency */
  border-radius: 10px;
  cursor: pointer;
  margin: 0 5px; /* Added margin to space out buttons */
}
.navigation-container button.active {
  background-color: #00c5b6;
  color: #ffffff;
}

.no-offers-container {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
.no-offers-container p {
  margin-bottom: 10px;
}
.no-offers-container img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.no-offers-container .create-offer-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
}
.no-offers-container .create-offer-btn .plus-icon {
  font-size: 20px;
  font-weight: bold;
  color: #F5F5F5;
  background-color: #00c5b6;
  border-radius: 50%;
}

.icons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 10px;
}
.icons-container .wallet-icon {
  color: #474545;
}
.icons-container .add-icon {
  color: #00c5b6;
}
.icons-container .notification-icon {
  color: #474545;
}
.icons-container .settings-icon {
  color: #474545;
}
.icons-container div {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  justify-content: space-evenly;
}

.offers-container {
  max-height: 450px;
  overflow-y: auto;
  margin-top: 20px;
}

.offers-list {
  list-style: none;
  padding: 0;
}

.offer-card {
  background-color: #0b4183;
  border-radius: 10px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}
.offer-card .offer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer-card .offer-header .offer-date,
.offer-card .offer-header .exchange-rate {
  font-size: 16px;
  color: #00c5b6;
  font-weight: bold;
}
.offer-card .offer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.offer-card .offer-content .offer-amount {
  text-align: center;
}
.offer-card .offer-content .offer-amount .currency {
  font-size: 24px;
  font-weight: bold;
}
.offer-card .offer-content .offer-amount .amount {
  font-size: 16px;
  font-weight: 100;
}
.offer-card .offer-content .exchange-arrow {
  font-size: 30px;
  color: #00c5b6;
}
.offer-card .offer-content .matches {
  background-color: #ddbccb;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

#main-card a {
  text-decoration: none;
}

.matched-trades-card {
  background-color: #0b4183;
  border-radius: 10px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  position: relative;
}

.matched-trades-header {
  display: flex;
  margin-bottom: 20px;
  font-size: 14px;
}
.matched-trades-header .matched-trades-rate {
  margin-left: 55px;
}

.matched-trades-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: bolder;
}

.matched-trades-rate {
  color: #00c5b6;
  font-weight: bold;
}

.matched-trades-amount {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.matched-trades-currency {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300px;
}

.matched-trades-currency-code {
  font-size: 24px;
  padding-bottom: 5px;
}

.matched-trades-currency-figure {
  font-size: 14px;
  font-weight: 100;
}

.matched-trades-arrow {
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
  color: #00c5b6;
}

.matched-trades-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 50px;
  margin-bottom: 3px;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  margin-top: 0px;
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 2px;
  margin-left: 39px;
}

.user-rating {
  color: #FFC107;
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-left: 60px;
  padding-top: 5px;
}

.matched-trades-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}

.matched-trades-info p {
  display: flex;
  align-items: center;
  gap: 5px;
}

#location-icon, #completed-trades-icon, #completion-time-icon {
  color: #00c5b6;
}

#location, #completed-trades, #completion-time {
  margin: 6px;
}

.trade-actions {
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.trade-state {
  justify-content: center;
  margin-top: 16px;
}

.accept-btn,
.decline-btn,
.confirm-btn,
.locked-btn {
  display: flex;
  gap: 10px;
  padding: 10px 50px;
  margin-bottom: 0px;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accept-btn {
  background-color: #b0e2c4;
  color: #3eaa3e;
  border: none;
}

.accept-btn:hover {
  background-color: #c1e4d0;
}

.decline-btn {
  background-color: #dd9797;
  color: #be0707;
  border: none;
}

.decline-btn:hover {
  background-color: #eed2d2;
}

.locked-btn {
  background-color: #f7d2d2;
  color: #ee3737;
  border: none;
  cursor: not-allowed;
  padding: 10px;
  font-size: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.accept-btn i,
.decline-btn i,
.confirm-btn i,
.locked-btn i {
  font-size: 20px;
}

.no-offers-container-trades {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
.no-offers-container-trades p {
  margin-bottom: 10px;
}
.no-offers-container-trades img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.no-offers-container-trades .create-offer-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
}
.no-offers-container-trades .create-offer-btn .plus-icon {
  font-size: 20px;
  font-weight: bold;
  color: #F5F5F5;
  background-color: #00c5b6;
  border-radius: 50%;
}

/*# sourceMappingURL=styles.css.map */
