body {
  margin: 0;
  padding: 0;
}

header {
  background-color: transparent;
  padding: 10px;
}
header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-container .menu-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  color: #ffffff;
}
header .header-container h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  flex-grow: 1;
  color: #ffffff;
}

.trader-card {
  background-color: rgba(8, 72, 168, 0.0666666667);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}
.trader-card .profile-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.trader-card .profile-container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.trader-card .profile-container h2 {
  margin: 0;
  font-size: 20px;
  flex-grow: 1;
  margin-top: 40px;
  margin-bottom: 0px;
}
.trader-card .profile-container .rating {
  color: #FFC107;
  margin-left: 10px;
  margin-top: 1px;
}
.trader-card .profile-container .edit-profile-icon {
  font-size: 20px;
  cursor: pointer;
  margin-left: 190px;
}
.trader-card .trader-info p {
  margin: 5px 0;
  text-align: left;
}
.trader-card .trader-info p i {
  color: #00c5b6;
  margin-right: 5px;
}

.navigation-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 17px;
  padding: 5px;
}
.navigation-container button {
  background-color: #ffffff;
  color: #262222;
  border: none;
  padding: 13px 20px; /* Adjusted padding for consistency */
  border-radius: 10px;
  cursor: pointer;
  margin: 0 5px; /* Added margin to space out buttons */
}
.navigation-container button.active {
  background-color: #00c5b6;
  color: #ffffff;
}

.no-offers-container {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
.no-offers-container p {
  margin-bottom: 10px;
}
.no-offers-container img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.no-offers-container .create-offer-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
}
.no-offers-container .create-offer-btn .plus-icon {
  font-size: 20px;
  font-weight: bold;
  color: #F5F5F5;
  background-color: #00c5b6;
  border-radius: 50%;
}

.icons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 10px;
}
.icons-container .wallet-icon {
  color: #474545;
}
.icons-container .add-icon {
  color: #00c5b6;
}
.icons-container .notification-icon {
  color: #474545;
  position: relative;
}
.icons-container .notification-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}
.icons-container .settings-icon {
  color: #474545;
}
.icons-container div {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  justify-content: space-evenly;
}

.offers-container {
  max-height: 450px;
  overflow-y: auto;
  margin-top: 20px;
}

.offers-list {
  list-style: none;
  padding: 0;
}

.offer-card {
  background-color: #0b4183;
  border-radius: 10px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}
.offer-card .offer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer-card .offer-header .offer-date,
.offer-card .offer-header .exchange-rate {
  font-size: 16px;
  color: #00c5b6;
  font-weight: bold;
}
.offer-card .offer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.offer-card .offer-content .offer-amount {
  text-align: center;
}
.offer-card .offer-content .offer-amount .currency {
  font-size: 24px;
  font-weight: bold;
}
.offer-card .offer-content .offer-amount .amount {
  font-size: 16px;
  font-weight: 100;
}
.offer-card .offer-content .exchange-arrow {
  font-size: 30px;
  color: #00c5b6;
}
.offer-card .offer-content .matches {
  background-color: #ddbccb;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

#main-card a {
  text-decoration: none;
}

.matched-trades-card {
  background-color: #0b4183;
  border-radius: 10px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  position: relative;
}

.matched-trades-header {
  display: flex;
  margin-bottom: 20px;
  font-size: 14px;
}
.matched-trades-header .matched-trades-rate {
  margin-left: 55px;
}

.matched-trades-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: bolder;
}

.matched-trades-rate {
  color: #00c5b6;
  font-weight: bold;
}

.matched-trades-amount {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.matched-trades-currency {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300px;
}

.matched-trades-currency-code {
  font-size: 24px;
  padding-bottom: 5px;
}

.matched-trades-currency-figure {
  font-size: 14px;
  font-weight: 100;
}

.matched-trades-arrow {
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
  color: #00c5b6;
}

.matched-trades-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 50px;
  margin-bottom: 3px;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name {
  margin-top: 0px;
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 2px;
  margin-left: 39px;
}

.user-rating {
  color: #FFC107;
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-left: 60px;
  padding-top: 5px;
}

.matched-trades-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}

.matched-trades-info p {
  display: flex;
  align-items: center;
  gap: 5px;
}

#location-icon, #completed-trades-icon, #completion-time-icon {
  color: #00c5b6;
}

#location, #completed-trades, #completion-time {
  margin: 6px;
}

.trade-actions {
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.trade-state {
  justify-content: center;
  margin-top: 16px;
}

.accept-btn,
.decline-btn,
.confirm-btn,
.locked-btn {
  display: flex;
  gap: 10px;
  padding: 10px 50px;
  margin-bottom: 0px;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accept-btn {
  background-color: #b0e2c4;
  color: #3eaa3e;
  border: none;
}

.accept-btn:hover {
  background-color: #c1e4d0;
}

.decline-btn {
  background-color: #dd9797;
  color: #be0707;
  border: none;
}

.decline-btn:hover {
  background-color: #eed2d2;
}

.locked-btn {
  background-color: #f7d2d2;
  color: #ee3737;
  border: none;
  cursor: not-allowed;
  padding: 10px;
  font-size: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.accept-btn i,
.decline-btn i,
.confirm-btn i,
.locked-btn i {
  font-size: 20px;
}

.no-offers-container-trades {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
.no-offers-container-trades p {
  margin-bottom: 10px;
}
.no-offers-container-trades img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.no-offers-container-trades .create-offer-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
}
.no-offers-container-trades .create-offer-btn .plus-icon {
  font-size: 20px;
  font-weight: bold;
  color: #F5F5F5;
  background-color: #00c5b6;
  border-radius: 50%;
}

.notification-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 27%;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.notification-container p {
  padding: 40px 40px 20px;
  color: black;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.yes-button {
  background-color: #00c5b6;
  color: white;
  border: none;
  padding: 20px 60px;
  font-size: 18px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.yes-button:hover {
  background-color: #16a085;
}

.cancel-button {
  background-color: transparent;
  color: #e74c3c;
  border: 1px solid #e74c3c;
  padding: 20px 60px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cancel-button:hover {
  background-color: #e74c3c;
  color: white;
}

.currency-container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.currency-card {
  background-color: #283a84;
  border-radius: 15px;
  margin-top: 20px;
  padding: 20px;
  width: 1000px;
  color: white;
  position: relative;
}

.currency-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.currency-date {
  font-size: 0.8em;
}

.currency-rate {
  font-size: 0.9em;
  color: #0bd4d4;
  padding-right: 120px;
}

.currency-email-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.2em;
  color: #00c5c5;
}

.currency-user {
  display: flex;
  margin-bottom: 15px;
  font-size: 14px;
}

.currency-user-left {
  display: flex;
  align-items: flex-start;
  margin-right: 20px;
}

.currency-avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  width: 60px;
}

.currency-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.currency-username {
  font-size: 0.9em;
  text-align: center;
}

.currency-user-right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.currency-info-left, .currency-info-right {
  display: flex;
  flex-direction: column;
}

.currency-info-left {
  margin-right: 5px;
  align-content: right;
}

.currency-rating {
  color: gold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.currency-stats {
  font-size: 0.85em;
  color: #ccc;
}

.currency-stat-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.currency-location {
  font-size: 0.85em;
  color: #ccc;
  display: flex;
  align-items: center;
}

.currency-location-icon, .currency-icon {
  margin-right: 5px;
  font-size: 1.2em;
  color: #00c5b6;
}

.currency-exchange {
  background-color: rgba(228, 228, 250, 0.062745098);
  border-radius: 10px;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.currency-name {
  font-size: 1.2em;
  font-weight: bold;
}

.currency-amount {
  font-size: 0.9em;
}

/*# sourceMappingURL=userDetails.css.map */
