<!DOCTYPE html>
<html lang="en">

{% include "partials/header.njk" %} 

<body>
  <div id="intro">
    <div class="content">
      <img id="intro-image" src="/images/image1.png" alt="Image" class="image">
      <div class="text">
        <h1>You Control Your Bid Or Offer Rate</h1>
        <p>Join The Marketplace, Connect With Ordinary People And Swap Your Currency Hassle-Free</p>
      </div>
      <div id="dots-container" class="dots-container">
        <span class="dot" data-index="0"></span>
        <span class="dot" data-index="1"></span>
        <span class="dot" data-index="2"></span>
        <span class="dot" data-index="3"></span>
        <span class="dot" data-index="4"></span>
      </div></br></br>
      {# <a href="/signup" class="button">Next</a> #}
      <div class="navigation-buttons">
        <a href="#" class="back-button">Back</a>
        <a href="/signup" class="next-button-arrow"><i class="fas fa-arrow-right"></i></a>
        <a href="/signup" class="skip-button">Skip</a>
      </div>
    </div>
  </div>
</body>

{% include "partials/footer.njk" %}
</html>
