<div id="offers-container">
    {% if offers.length > 0 %}
        <div class="offers-container">
            <ul class="offers-list">
                {% for offer in offers %}
                    <a href="javascript:void(0);" class="offer-link" data-offer-id="{{ offer._id }}">
                        <li class="offer-card">
                            <div class="offer-header">
                                <span class="offer-date">{{ offer.date }}</span>
                                <span class="exchange-rate">{{ offer.from }} = {{ offer.rate }} {{ offer.to }}</span>
                                <span class="matchesText">Matches</span>
                            </div>
                            <div class="offer-content">
                                <div class="offer-amount">
                                    <div class="currency">{{ offer.from }}</div>
                                    <div class="amount">{{ offer.amount }}</div>
                                </div>
                                <div class="exchange-arrow">⇄</div>
                                <div class="offer-amount">
                                    <div class="currency">{{ offer.to }}</div>
                                    <div class="amount">{{ offer.value }}</div>
                                </div>
                                <div class="matches-content">
                                    <span class="matches">{{offer.matchCount}}</span>
                                </div>
                            </div>
                        </li> 
                    </a>                                    
                {% endfor %}
            </ul>
        </div>                      
    {% else %}
        <div class="no-offers-container">
            <p>You have no offers</p>
            <img src="images/nooffers.png" alt="No Offers">
            <button class="create-offer-btn">Click the <span class="plus-icon">+</span> Sign to create an offer</button>
        </div>
    {% endif %}
</div>
