// SCSS Variables
//$primary-bg-color: #02022900; // Blue-black background color
$accent-color: #36f0e5; // Accent color (teal)
$text-color: #ffffff; // White text color
$button-bg-color: #01011d; // Blue-black background color for buttons
$button-hover-bg-color: #00004d; // Darker blue-black for button hover
$container-bg-color: rgba(255, 255, 255, 0.1); // Semi-transparent white background for container
$container-text-color: #000000; // Black text color for form labels

// Define your variables here, e.g.:
$primary-color: #0cb19b;
$hover-color: #036464;
