@import "variables";
@import "base";

#registrationFormStep1 {
  header {
    .logo {
      max-width: 150px;
      margin: 20px auto;
    }
  }

  .form-group {
    margin-bottom: 15px;
    text-align: start;
  }

  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    text-align: justify;
  }

  button {
    padding: 10px 20px;
    background-color: #05b497;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;

    &:hover {
      background-color: #25e7d7;
    }
  }
}
