@import "variables";
@import "base";

// Variables
$primary-color: #3D4C5D;
$accent-color: #00C58E;
$text-color: #fff;

#register2-container {
  header {
    .logo {
      max-width: 150px;
      margin: 20px auto;
    }
  }

  main {
    h1 {
      margin-bottom: 20px;
    }

    .input-group {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      input {
        flex-grow: 1;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
      }

      .icon-button {
        background: none;
        border: none;
        cursor: pointer;

        i {
          font-size: 20px;
          color: #fff;
        }
      }
    }

    .checkbox-group {
      display: flex;
      align-items: center;
      margin-top: 50px;

      input {
        margin-right: 10px;
      }

      label {
        a {
          color: #0cb19b;
        }
      }
    }

    .next-button {
      padding: 10px 20px;
      background-color: #05b497;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 20px;

      &:hover {
        background-color: $hover-color;
      }
    }
  }
}


.upload-section {
  margin-top: 40px;
  text-align: center;

  p {
    margin-bottom: 10px;
  }

  .upload-box {
    padding: 20px;
    background-color: #5cb2dd51;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: 2px dashed #05b497;
    transition: border-color 0.3s;
    width: 275px;
    height: 100px;
    margin: auto;

    input[type="file"] {
      display: none;
    }

    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      i {
        font-size: 30px;
        color: #fff;
        margin-bottom: 10px;
      }

      p {
        margin: 0;
        color: #fff;
      }
    }

    &:hover {
      // border-color: #ff5a36;

      i {
        color: #05b497;
      }
    }
  }
}

// Modal styles
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #02485a;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;

  h2 {
    margin-top: 0;
  }

  p {
    text-align: left;
    margin-bottom: 20px;
  }

  .agree-button {
    padding: 10px 20px;
    background-color: #05b497;
    color: #fff;
    border: none;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #038d6b;
    }
  }
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}


.container{
  #registrationFormStep2{
    .input-group{
      .icon-button {
        background-color: $accent-color;
        border: none;
        color: $text-color;
        padding: 12px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 0 5px 5px 0;
        width: 20px;
      }
    } 

    // .form-group{
    //   .icon-button {
    //     background-color: $accent-color;
    //     border: none;
    //     color: $text-color;
    //     padding: 12px;
    //     border-radius: 50%;
    //     cursor: pointer;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     text-decoration: none;
    //     border-radius: 0 5px 5px 0;
    //   }
    // } 
  }
} 