// $background-image: url('images/createoffer.jpg');
$secondary-color: #FFFFFF;
$light-blue: #3f51b500;
$light-white: #F5F5F5;
$text-color: #FFFFFF;
$rating-color: #FFC107;
$button-color: #00c5b6;
$icon-color: #00c5b6;
$light-black: #333333;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  // background-image: $background-image;
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // color: $text-color;
}

.container {
  // max-width: 600px;
  // margin: 0 auto;
  // padding: 20px;
}

header {
  background-color: transparent;
  padding: 10px;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu-icon {
      font-size: 24px;
      margin-right: 10px;
      cursor: pointer;
      color: #ffffff;
    }

    h1 {
      margin: 0;
      font-size: 24px;
      text-align: center;
      flex-grow: 1;
      color: #ffffff;
    }
  }
}

.trader-card {
  background-color: #0848a811;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;

  .profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }

    h2 {
      margin: 0;
      font-size: 20px;
      flex-grow: 1;
      margin-top: 40px;
      margin-bottom: 0px;
    }

    .rating {
      color: $rating-color;
      margin-left: 10px;
      margin-top: 1px;
    }

    .edit-profile-icon {
      font-size: 20px;
      cursor: pointer;
      margin-left: 190px;
    }
  }

  .trader-info {
    p {
      margin: 5px 0;
      text-align: left;

      i {
        color: $icon-color;
        margin-right: 5px;
      }
    }
  }
}

.navigation-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 35px;
  padding: 10px;

  button {
    background-color: #00c5b6;
    color: #ffffff;
    border: none;
    padding: 10px 10px;
    border-radius: 15px;
    justify-content: space-evenly;
    cursor: pointer;
    margin: 0 5px;
  }
}

.no-offers-container {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  text-align: center;

  p {
    margin-bottom: 10px;
  }

  img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .create-offer-btn {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    margin-top: 10px;

    .plus-icon {
      font-size: 20px;
      font-weight: bold;
      color: #F5F5F5;
      background-color: #00c5b6;
      border-radius: 50%;
    }
  }
}

.icons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #FFFFFF; 
  border-radius: 8px;
  padding: 10px;

  .wallet-icon {
    color: #474545; 
  }
  .add-icon {
    color: #00c5b6; 
  }
  .notification-icon {
    color: #474545; 
  }
  .settings-icon {
    color: #474545; 
  }

  div {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    justify-content: space-evenly;
  }
}