<!DOCTYPE html>
<html lang="en">

{% include "partials/header.njk" %}

<body>
  <div class="container">
    <div class="back-button">
      <a href="#" class="icon-button">
        <i class="icon-arrow-left"></i>
      </a>
    </div>
    <h1>Forgot Password</h1>
    <p>Verify Your Email</p>
    <form id="forgotPassword" action="/password/forgot" method="post">
      <div class="input-group">
        <input type="email" name="email" placeholder="tikufonyuy@test.com">
        <div class="icon-button">
          <i class="icon-email"></i>
        </div>
      </div>
      <button type="submit" class="send-button">Send</button>
    </form>
  </div>

  {% include "partials/footer.njk" %}
</body>
</html>