<!DOCTYPE html>
<html lang="en">

{% include "partials/header.njk" %}

<body>
    <div class="container">
        <header>
            <img src="/images/logo.png" alt="Currency Circle Logo" class="logo">
        </header>
        <h1>Create New Account</h1>
        <main>
            <form id="registrationFormStep1">
                <div class="form-group">
                    <label for="title">Title</label>
                    <select id="title" name="title" required>
                        <option value="" disabled selected>Title</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Ms">Ms</option>
                        <option value="Dr">Dr</option>
                        <option value="Prof">Prof</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="name" placeholder="Full Name" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="text" name="userName" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <select name="country" required>
                        <option value="" disabled selected>Select your country</option>
                        <option value="Germany">Germany</option>
                        <option value="USA">USA</option>
                        <option value="UK">UK</option>
                        <option value="Canada">Canada</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="phoneNumber" placeholder="Phone Number" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input type="date" name="dob" required>
                </div>
                <input type="hidden" id="step1Data" name="step1Data" value="">
                <button type="button" onclick="nextStep()">Next</button>
        </form>
        </main>
        <p>Existing Member? <a href="/login" style="color: #05b497;">Sign In</a></p>
    </div>

    {% include "partials/footer.njk" %}
</body>
</html>
