<!DOCTYPE html>
<html lang="en">

{% include "partials/header.njk" %}

<body>
    <div id="register2-container" class="container">
        <header>
            <img src="/images/logo.png" alt="Currency Circle Logo" class="logo">
        </header>
        <h1>Create New Account</h1>
        <main>
            <form id="registrationFormStep1">
                <div class="form-group">
                    <select name="title" required>
                        <option value="" disabled selected>Title</option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Ms">Ms</option>
                        <option value="Dr">Dr</option>
                        <option value="Prof">Prof</option>
                    </select>
                    {# <div class="icon-button">
                        <i class="fas fa-user"></i>
                    </div> #}
                </div>
                <div class="input-group">
                    <input type="text" name="name" placeholder="Full Name" required>
                    <div class="icon-button">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
                <div class="input-group">
                    <input type="email" name="email" placeholder="Email" required>
                    <div class="icon-button">
                        <i class="fas fa-envelope"></i>
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" name="userName" placeholder="Username" required>
                    <div class="icon-button">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
                <div class="form-group">
                    <select name="country" required>
                        <option value="" disabled selected>Select your country</option>
                        <option value="Germany">Germany</option>
                        <option value="USA">USA</option>
                        <option value="UK">UK</option>
                        <option value="Canada">Canada</option>
                    </select>
                    {# <div class="icon-button">
                        <i class="fas fa-globe"></i>
                    </div> #}
                </div>
                 <div class="input-group">
                    <select name="countryCode" required>
                        <option value="" disabled selected>Country Code</option>
                        <option value="+237"><span class="fi-cm"></span>(+237)</option>
                        <option value="+44"><span class="fi fi-gb"></span>(+44)</option>
                        <option value="+1"><span class="fi fi-us"></span>(+1)</option>
                        <option value="+971"><span class="fi fi-ae"></span>(+971)</option>
                        <option value="+33"><span class="fi fi-fr"></span>(+33)</option>
                        <option value="+86"><span class="fi fi-cn"></span>(+86)</option>
                        <option value="+20"><span class="fi fi-eg"></span>(+20)</option>
                        <option value="+234"><span class="fi fi-ng"></span>(+234)</option>
                        <option value="+1"><span class="fi fi-ca"></span>(+1)</option>
                        <option value="+49"><span class="fi fi-de"></span>(+49)</option>
                        <option value="+91"><span class="fi fi-in"></span>(+91)</option>
                        <option value="+81"><span class="fi fi-jp"></span>(+81)</option>
                        <option value="+61"><span class="fi fi-au"></span>(+61)</option>
                        <option value="+7"><span class="fi fi-ru"></span>(+7)</option>
                        <option value="+82"><span class="fi fi-kr"></span>(+82)</option>
                        <option value="+39"><span class="fi fi-it"></span>(+39)</option>
                        <option value="+34"><span class="fi fi-es"></span>(+34)</option>
                        <option value="+55"><span class="fi fi-br"></span>(+55)</option>
                        <option value="+27"><span class="fi fi-za"></span>(+27)</option>
                        <option value="+52"><span class="fi fi-mx"></span>(+52)</option>
                    </select>
                    <input type="text" name="phoneNumber" placeholder="Phone Number" required>
                    <div class="icon-button">
                        <i class="fas fa-phone"></i>
                    </div>
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Password" required>
                    <div class="icon-button">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>
                <div class="input-group">
                    <input type="date" name="dob" placeholder="Date Of Birth" required>
                    <div class="icon-button">
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                </div>
                <input type="hidden" id="step1Data" name="step1Data" value="">
                <button class="next-button" type="button" onclick="nextStep()">Next</button>
            </form>
        </main>
        <p>Existing Member? <a href="/login" style="color: #05b497;">Sign In</a></p>
    </div>

    {% include "partials/footer.njk" %}
</body>
</html>
