<!DOCTYPE html>
<html lang="en">

{% include "partials/header.njk" %}

<body>
  <div id="register2-container" class="container">
    <div class="back-button">
      <a href="/signup" class="icon-button">
          <i class="icon-arrow-left"></i>
        </a>
    </div>
    <header>
      <img src="/images/logo.png" alt="Currency Circle Logo" class="logo">
    </header>
    <main>
      <h1>Personal Information</h1>
      <form id="registrationFormStep2" action="/signup" method="post">
        <div class="input-group">
          <input type="text" name="profession" placeholder="Profession">
          <button type="button" class="icon-button"><i class="icon-dropdown"></i></button>
        </div>
        <div class="input-group">
          <input type="text" name="addressLine1" placeholder="Address 1">
          <button type="button" class="icon-button"><i class="icon-home"></i></button>
        </div>
        <div class="input-group">
          <input type="text" name="addressLine2" placeholder="Address 2">
          <button type="button" class="icon-button"><i class="icon-home"></i></button>
        </div>
        <div class="input-group">
          <input type="text" name="city" placeholder="City">
          <button type="button" class="icon-button"><i class="icon-city"></i></button>
        </div>
        <div class="input-group">
          <input type="text" name="code" placeholder="Zip Code">
          <button type="button" class="icon-button"><i class="icon-postcode"></i></button>
        </div>
        <div class="upload-section">
          <p>Please upload a proof of ID e.g Passport, National ID card or Driver's License.</p>
          <div class="upload-box">
            <i class="icon-upload"></i>
            <p>Accepted formats are JPG and PNG.</p>
          </div>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="tcs" name="tcs" value="true" required>
          <label for="tcs">Accept <a href="#">Terms & Conditions</a></label>
        </div>
        <input type="hidden" id="step1Data" name="step1Data" value="">
        <button type="button" class="next-button" onclick="submitFormData()">Create New Account</button>
      </form>
    </main>
  </div>
</body>

{% include "partials/footer.njk" %}
</html>
