<!DOCTYPE html>
<html lang="en">

{% include "partials/header.njk" %}

<body>
  <div class="container">
    <div class="back-button">
        <a href="#" class="icon-button" onclick="goBack()">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
    <h1>Resend Verification Code</h1>
    <p>Please provide the email you used in signing up</p>
    <form id="resendVerification" action="/resend" method="post">
      <div class="input-group">
        <input type="email" name="email" placeholder="Enter your Email">
        <div class="icon-button">
          <i class="fas fa-envelope"></i>
        </div>
      </div>
      <button type="submit" class="send-button">Get Verification Code</button>
    </form>
  </div>

  {% include "partials/footer.njk" %}
</body>
</html>