<!DOCTYPE html>
<html lang="en">

{% include "partials/header.njk" %}

<body>
  <div class="container">
    <div class="back-button">
      <a href="#" class="icon-button">
        <i class="icon-arrow-left"></i>
      </a>
    </div>
    <h1>New Password</h1>
    <p>Please create new password.</p>
    <form id="resetPassword" action="/password/reset" method="post">
      <div class="input-group">
        <input type="text" name="otp" placeholder="Enter Verification Code">
        <div class="icon-button">
          <i class="icon-lock"></i>
        </div>
      </div>
      <div class="input-group">
        <input type="password" name="password" placeholder="Enter New Password">
        <div class="icon-button">
          <i class="icon-lock"></i>
        </div>
      </div>
      <div class="input-group">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <div class="icon-button">
          <i class="icon-lock"></i>
        </div>
      </div>
      <button type="submit" class="send-button">Send</button>
    </form>
  </div>

  {% include "partials/footer.njk" %}
</body>
</html>