<!DOCTYPE html>
<html lang="en">
{% include "partials/header.njk" %}
    <script src="/js/dashboardratings.js" defer></script>
    <script src="/js/menu.js" defer></script>
    <link rel="stylesheet" href="/css/menu.css">

<body>  
    <div class="container">
        <header>
            <div class="header-container">
                <div class="menu-container">
                    <div class="menu-icon"><i class="fas fa-bars"></i></div>
                    <div class="sidebar">
                        <ul>
                            <li><a href="#" id="dashboard-link"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                            <li><a href="#" id="my-offers-link"><i class="fas fa-tags"></i> My Offers</a></li>
                            <li><a href="#" id="matched-trades-link"><i class="fas fa-exchange-alt"></i> Matched Trades</a></li>
                            <li><a href="#" id="in-discussion-link"><i class="fas fa-comments"></i> In Discussion</a></li>
                            <li><a href="/chat"><i class="fas fa-comments"></i> Chats</a></li>
                            <li><a href="/tradehistory"><i class="fas fa-history"></i> Trade History</a></li>
                            <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
                        </ul>
                        <div class="app-version">Version 1.0</div>
                    </div>
                </div>
                <h1>My Trades</h1>
            </div>
        </header>
        <main id="main-card">
            <div class="trader-card" data-user-id="{{ user._id }}">
                <div class="profile-container">
                    {% if user.userImage %}
                        <img src="images/profiles/{{ user.userImage }}" alt="Profile Picture">
                    {% else %}
                        <img src="images/profiles/noProfile.png" alt="Profile Picture">
                    {% endif %}
                    <div>
                        <h2 id="user-name">{{ user.userName }}</h2>
                        <div id="user-rating" class="rating"></div>
                        <p class="rating-count">(No reviews yet)</p>
                    </div>
                    <div class="edit-profile-icon">
                        <p><i class="fas fa-edit"></i></p>
                    </div>
                </div>
                <div class="trader-info">
                    <p><i class="fas fa-map-marker-alt"></i> {{ user.city }}, {{ user.country }}</p>
                    <p><i class="fas fa-calendar-alt"></i> Joined {{ user.joinedAt }}</p>
                    <p><i class="fas fa-check-circle"></i> No Completed trades yet</p>
                    <p><i class="fas fa-money-bill-wave"></i> No favorite currencies yet</p>
                    {% if offers.length > 0 %}
                        <p><i class="fas fa-briefcase"></i> {{ offers.length }} Offer(s)</p>
                    {% else %}
                        <p><i class="fas fa-briefcase"></i> No offers yet</p>
                    {% endif %}
                    <p><i class="fas fa-clock"></i> Unknown average completion time</p>
                    <p><i class="fas fa-times-circle"></i> No Cancelled matches</p>
                    <p data-user-reported><i class="fas fa-exclamation-triangle"></i> {{ user.timesReported }} Time(s) Reported</p>
                        
                </div>
            </div>
            <div class="navigation-container">
                <button id="my-offers-btn" class="nav-btn active">My Offers</button>
                <button id="matched-trades-btn" class="nav-btn">Matched Trades</button>
                <button id="in-discussion-btn" class="nav-btn">In Discussion</button>
            </div>            
            
            {% include "offers/offersSection.njk" %}
            {% include "trades/tradesSection.njk" %}
            {% include "discussions/discussionsSection.njk" %}

            <div class="icons-container">
                <div class="wallet-icon"><i class="fas fa-wallet"></i></div>
                <div class="add-icon" onclick="createOffer()"><i class="fas fa-plus-circle"></i></div>
                <div class="notification-icon">
                    <i class="fas fa-bell"></i>
                    <span id="notification-count" class="notification-badge" style="display:none"></span>
                </div>
                <div class="settings-icon"><i class="fas fa-cog"></i></div>
                <div class="settings-icon" onclick="signout()"><i class="fas fa-sign-out-alt"></i></div>
            </div>
        </main>
    </div>

    {% include "partials/footer.njk" %}
</body>
</html>
