<!DOCTYPE html>
<html lang="en">

{% include "partials/header.njk" %}

<body>
    <div class="container">
        <main>
            <h2><b>You are Verified!</b></h2>
            <img src="/images/verified.png" alt="Image" class="image">
            <p>Your account has been successfully verified.</p>
            <button class="button" onclick="redirectToEndpoint(this)">Login</button>
        </main>
    </div>

    {% include "partials/footer.njk" %}
</body>
</html>
