<!DOCTYPE html>
<html lang="en">

{% include "partials/header.njk" %}

<body>
    <div class="container">
        <main>
            <img src="/images/verified.png" alt="Image" class="image">
            <h1><b>Verification</b></h1>
            <p>Thank you for verifying your phone number.</p>
            <p>It will take up to 2 hours for us to complete your registration and send you a confirmation email</p>
            <p>In the meantime, feel free to explore the app in preparation for your first swap!</p>
            <button class="button" id="createOffer">Explore</button>
        </main>
    </div>

    {% include "partials/footer.njk" %}
</body>
</html>
